/node_modules
/public/hot
/public/storage
/storage/*.key
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea

/.github
/.vscode
/vendor
/public/uploads
.env
.env.backup
composer.lock